<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Treadmill Manager</title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->
        <script src="js/jquery-2.1.3.min.js"></script>

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

		<!-- your app's js -->

        <script type="text/javascript" src="js/localforage.js"></script>
        <script type="text/javascript" src="js/angular-localForage.js"></script>
        <script type="text/javascript" src="js/openfb.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/db.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	
	<body ng-app="treadmillManager">
		<ion-nav-bar class="bar-positive">
		    <ion-nav-back-button class="button-icon button-clear ion-reply">
			</ion-nav-back-button>
		</ion-nav-bar>
		
		<ion-nav-view></ion-nav-view>

		<script id='main.html' type='text/ng-template'>
			<ion-view title="Treadmill Manager" align-title="center">
                <ion-nav-buttons side="right">
				    <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                </ion-nav-buttons>   
				<ion-content class="content">
					<button class="button button-block button-light" ui-sref="workout">
						Single Workout
					</button>
					<button class="button button-block button-light">
						Continue Program
					</button>
					<button class="button button-block button-light" ui-sref="programs">
						New Program
					</button>					
				</ion-content>
			</ion-view>
		</script>
		
		<script id='workout.html' type='text/ng-template'>
			<ion-view title="Choose a Workout" align-title="center" ng-controller="WorkoutCtrl">
                <ion-nav-buttons side="right">
				    <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                </ion-nav-buttons>            
				<ion-content class="content">
					<div class="list">
                        <ul>
                            <li ng-repeat="workout in workouts">
                                <button class="button button-block button-light" ng-click="runProgram({{workout.id}})" >{{workout.desc}}</button>
                            </li>
                        </ul>
                </ion-content>
			</ion-view>
		</script>
		
		<script id='programs.html' type='text/ng-template'>
			<ion-view title="Choose a Program" align-title="center" ng-controller="ProgramCtrl">
                <ion-nav-buttons side="right">
				    <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                </ion-nav-buttons>         
				<ion-content class="content">
					<div class="list">
                        <ul>
                            <li ng-repeat="program in programs">
                                <button class="button button-block button-light" ng-click="getProgramDetails({{program.id}})" >{{program.desc}}</button>
                            </li>
                        </ul>
                </ion-content>
			</ion-view>
		</script>
        
        <script id='programDetails.html' type='text/ng-template'>
			<ion-view title="Choose a Workout" align-title="center" ng-controller="ProgramDetailsCtrl">
                <ion-nav-buttons side="right">
				    <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                </ion-nav-buttons>       
				<ion-content class="content">
                    {{test}}
					<div class="list">
                        <ul>
                            <li ng-repeat="workout in workouts">
                                <button class="button button-block button-light" ng-click="runProgram({{workout.id}})" >{{workout.desc}}</button>
                            </li>
                        </ul>
                </ion-content>
			</ion-view>
		</script>
        
        <script id='settings.html' type='text/ng-template'>
			<ion-view title="Settings" align-title="center" ng-controller="SettingsCtrl">
                <ion-nav-buttons side="right">
                    <button class="button button-icon icon ion-edit" ng-click="enableEdit()"></button>
                </ion-nav-buttons>
				<ion-content class="content">
                    <button class="button button-block button-light" ui-sref="profile">
						View Profile
					</button>
                    <label class="item item-input item-select">
                        <span class="input-label">Unit of Measure</span>
                        <select class="form_input" ng-model="data.units" ng-selected="option" ng-options="option for option in unitOptions" disabled>
                            {{option}}
                        </select>
                    </label>
                    <ul class="list">
                        <li class="item item-toggle">
                            <span class="input-label">Connect to Facebook</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="data.fbConnected" class="form_input" ng-change="fbToggle()" disabled>
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                        <li class="item item-toggle">
                            <span class="input-label">Connect to My Fitness Pal</span>
                            <label class="toggle toggle-balanced">
                                <input type="checkbox" ng-model="data.mfpConnected" class="form_input" ng-change="mfpToggle()" disabled>
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                    <div class="row form_buttons">
                        <div class="col">
                            <button class="button button-block button-stable" ng-click='cancelEdit()'>
                              Cancel
                           </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='editSettings()'>
                              Save
                            </button>
                        </div>
                    </div>
				</ion-content>
			</ion-view>
		</script>
        
    
        <script id='profile.html' type='text/ng-template'>
			<ion-view title="Profile"  ng-controller="ProfileCtrl" align-title="center">
                <ion-nav-buttons side="right">
                    <button class="button button-icon icon ion-edit" ng-click="enableEdit()"></button>
                </ion-nav-buttons>    
				<ion-content class="content profile">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" class="form_input" ng-model="data.name" disabled>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Sex</span>
                        <select id="sexSelector" class="form_input" ng-model="data.sex" ng-options="option for option in sexOptions" disabled>
                            {{option}}
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Height</span>
                        <input type="text" class="form_input" ng-model="data.height" disabled>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Weight</span>
                        <input type="text" class="form_input" ng-model="data.weight" disabled>
                    </label>
                    <div class="row form_buttons" hidden>
                        <div class="col">
                            <button class="button button-block button-stable" ng-click='cancelEdit()'>
                              Cancel
                           </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='editProfile()'>
                              Save
                            </button>
                        </div>
                    </div>

				</ion-content>
			</ion-view>
		</script>
        
    
		<script id='run_program.html' type='text/ng-template'>
			<ion-view title="Get Moving!!" align-title="center">
				<ion-content class="content" ng-controller="RunProgramCtrl">
                    <div class="row">
                        <div class="col">
                            Elapsed
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-33 col-offset-33">
                            <span>{{myTimer}}</span>
                        </div>
                    </div>
                    <div class "row">
                        <div class="col">
                            <span>Remaining: {{remainingTime}}</span>
                        </div>
                    </div>
					<br>
					<div class="row">
						<div class="col">Speed</div>
						<div class="col">Incline</div>
					</div>
					<div class="row">
						<div class="col">
                            <span>{{currSpeed}}</span>
                        </div>
						<div class="col">
                            <span>{{currIncline}}</span>
                        </div>
					</div>
                    <br>
                    <div class="row">
						<div class="col">
                            <span>Distance: {{distance}} {{distanceUnit}}</span>
                        </div>
						<div class="col">
                            <span>Carolires Burned: {{calories}} kcal</span>
                        </div>
					</div>
                    <div class="row timer_buttons">
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='startTimer()'>
						      Start
					       </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive" ng-click='stopTimer()'>
						      Stop
					        </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-positive finish_button" ui-sref="summary">
						      Finished
					        </button>
                        </div>
                    </div>
				</ion-content>
			</ion-view>
		</script>
        
        <script id='summary.html' type='text/ng-template'>
			<ion-view title="Workout Summary" align-title="center">
                <ion-nav-buttons side="right">
				    <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                </ion-nav-buttons>   
				<ion-content class="content" ng-controller="SummaryCtrl">
                    Blah blah blah workout stats...
                
				    <a class="tab-item" ng-click="fbShare()">
                        <i class="icon ion-share"></i>
                        Share on Facebook
                    </a>
				</ion-content>
			</ion-view>
		</script>
	</body>
