<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
		<title>Treadmill Manager</title>

		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
		<link href="css/ionic.app.css" rel="stylesheet">
		-->
        <script src="js/jquery-2.1.3.min.js"></script>

		<!-- ionic/angularjs js -->
		<script src="lib/ionic/js/ionic.bundle.js"></script>

		<!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>

		<!-- your app's js -->

        <script type="text/javascript" src="js/localforage.js"></script>
        <script type="text/javascript" src="js/angular-localForage.js"></script>
        <script type="text/javascript" src="js/openfb.js"></script>
        <script type="text/javascript" src="js/controllers.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
        <script type="text/javascript" src="js/db.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</head>
	
	<body ng-app="treadmillManager">
		<ion-nav-bar class="bar-positive">
		    <ion-nav-back-button class="button-icon button-clear ion-reply">
			</ion-nav-back-button>
		</ion-nav-bar>
		
		<ion-nav-view></ion-nav-view>

		<script id='main.html' type='text/ng-template'>
			<ion-view title="Treadmill Manager">
                <ion-nav-bar class="bar-positive">
                    <ion-nav-buttons side="right">
				        <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                    </ion-nav-buttons>
                </ion_nav-bar>
				<ion-content class="content">
					<button class="button button-block button-light" ui-sref="workout">
						Single Workout
					</button>
					<button class="button button-block button-light">
						Continue Program
					</button>
					<button class="button button-block button-light" ui-sref="programs">
						New Program
					</button>					
				</ion-content>
			</ion-view>
		</script>
		
		<script id='workout.html' type='text/ng-template'>
			<ion-view title="Workout Setup">
                <ion-nav-bar class="bar-positive">
                    <ion-nav-buttons side="right">
				        <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                    </ion-nav-buttons>
                </ion_nav-bar>            
				<ion-content class="content">
					<div class="list">

						<label class="item item-input item-select">
							<div class="input-label">
							  Workout Type
							</div>
							<select>
								<option selected>Speed</option>
								<option>Hill</option>
								<option>Distance</option>
								<option>Custom</option>
							</select>
						</label>
                        
                        <label class="item item-input item-select">
							<div class="input-label">
							  Some Setting
							</div>
							<select>
								<option selected>option 1</option>
								<option>option 2</option>
								<option>option 3</option>
							</select>
						</label>
					</div>
					<button class="button button button-balanced" ui-sref="run_program">
						Ready
					</button>	
				</ion-content>
			</ion-view>
		</script>
		
		<script id='programs.html' type='text/ng-template'>
			<ion-view title="Choose a Program">
                <ion-nav-bar class="bar-positive">
                    <ion-nav-buttons side="right">
				        <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                    </ion-nav-buttons>
                </ion_nav-bar>
				<ion-content class="content">
                    <div id="programData">
					  <!-- {{programs}} -->
                    </div>
				</ion-content>
			</ion-view>
		</script>
        
        <script id='settings.html' type='text/ng-template'>
			<ion-view title="Settings"  ng-controller="SettingsCtrl">
                <ion-nav-buttons side="right">
                    <button class="button button-icon icon ion-edit" ng-click="enableEdit()"></button>
                </ion-nav-buttons>
				<ion-content class="content">
                    <button class="button button-block button-light" ui-sref="profile">
						View Profile
					</button>
                    <label class="item item-input item-select">
                        <span class="input-label">Unit of Measure</span>
                        <select id="sexSelector" class="form_input" ng-model="data.unit" disabled>
                            <option>US</option>
                            <option>Metric</option>
                        </select>
                    </label>
                    <label class="item-toggle toggle toggle-positive">
                        <span class="input-label">Connect to Facebook</span>
                        <input type="checkbox" class="form_input" ng-click="fbToggle()" disabled>
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                    </label>
                    <label class="toggle toggle-positive">
                        <span class="input-label">Connect to My Fitness Pal</span>
                        <input type="checkbox" class="form_input" disabled>
                           <div class="track">
                             <div class="handle"></div>
                           </div>
                    </label>
                    <div class="row form_buttons">
                        <div class="col">
                            <button class="button button-block button-stable" ng-click='cancelEdit()'>
                              Cancel
                           </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='editSettings()'>
                              Save
                            </button>
                        </div>
                    </div>
				</ion-content>
			</ion-view>
		</script>
        
    
        <script id='profile.html' type='text/ng-template'>
			<ion-view title="Profile"  ng-controller="ProfileCtrl">
                <ion-nav-buttons side="right">
                    <button class="button button-icon icon ion-edit" ng-click="enableEdit()"></button>
                </ion-nav-buttons>    
				<ion-content class="content profile">
                    <label class="item item-input">
                        <span class="input-label">Name</span>
                        <input type="text" class="form_input" ng-model="data.name" disabled>
                    </label>
                    <label class="item item-input item-select">
                        <span class="input-label">Sex</span>
                        <select id="sexSelector" class="form_input" ng-model="data.sex" disabled>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Height</span>
                        <input type="text" class="form_input" ng-model="data.height" disabled>
                    </label>
                    <label class="item item-input">
                        <span class="input-label">Weight</span>
                        <input type="text" class="form_input" ng-model="data.weight" disabled>
                    </label>
                    <div class="row form_buttons" hidden>
                        <div class="col">
                            <button class="button button-block button-stable" ng-click='cancelEdit()'>
                              Cancel
                           </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='editProfile()'>
                              Save
                            </button>
                        </div>
                    </div>

				</ion-content>
			</ion-view>
		</script>
        
    
		<script id='run_program.html' type='text/ng-template'>
			<ion-view title="Get Moving!!">
				<ion-content class="content" ng-controller="TimerCtrl">
                    <div id="elapsedTag">
                        Elapsed
                    </div>
                    <div id="timerBox">
                        <div id="timerValue">
                            {{myTimer}}
                        </div>
                    </div>
                    <div id="timerRemaining">
                        <p>Remaining: {{remainingTime}}</p> 
                    </div>
					<br>
					<div class="row">
						<div class="col run_labels">Speed</div>
						<div class="col run_labels">Incline</div>
					</div>
					<br>
					<div class="row">
						<div class="col run_values"><span class="run_value_text">4.0</span></div>
						<div class="col run_values"><span class="run_value_text">1</span></div>
					</div>
                    <div class="row timer_buttons">
                        <div class="col">
                            <button class="button button-block button-balanced" ng-click='startTimer()'>
						      Start
					       </button>
                        </div>
                        <div class="col">
                            <button class="button button-block button-assertive" ng-click='stopTimer()'>
						      Stop
					        </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="button button-block button-positive" ui-sref="summary">
						      Summary
					        </button>
                        </div>
                    </div>
	

                    
				</ion-content>
			</ion-view>
		</script>
        
        <script id='summary.html' type='text/ng-template'>
			<ion-view title="Workout Summary">
                <ion-nav-bar>
                    <ion-nav-buttons side="right">
				        <button class="button button-icon icon ion-gear-b" ui-sref="settings"></button>
                    </ion-nav-buttons>
                </ion_nav-bar>
				<ion-content class="content" ng-controller="SummaryCtrl">
                    Blah blah blah workout stats...
                
				    <a class="tab-item" ng-click="fbShare()">
                        <i class="icon ion-share"></i>
                        Share on Facebook
                    </a>
				</ion-content>
			</ion-view>
		</script>
	</body>
